/* Base & Reset */
* { margin: 0; padding: 0; box-sizing: border-box; }
body { font-family: 'Inter', sans-serif; line-height: 1.6; color: #eeeeee; background: #303841; }
a { text-decoration: none; color: inherit; }

/* Sticky Header */
header { position: sticky; top: 0; background: #eeeeee; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.102); z-index: 1000; }
nav { display: flex; justify-content: space-between; max-width: 1000px; margin: 0 auto; padding: 1rem; }
.logo { color: #303841; font-size: 1.5rem; }
.nav-links { color: #303841; display: flex; gap: 1rem; font-size: 1.5rem; }
.nav-toggle { color: #303841; display: none; font-size: 1.5rem;}

/* Sections */
section { padding: 4rem 1rem; max-width: 1000px; margin: 1rem auto; }
#home { display: flex; flex-direction: column; align-items: center; text-align: center; gap: 1rem; }
#home h1 { font-size: 2.5rem; }
#home p { font-size: 1.1rem; }

.info { background: #47555e; border-radius: 8px; }

/* Contact */
#contact form { display: flex; flex-direction: column; gap: 1rem; }
#contact input, #contact textarea { padding: 0.75rem; border: 1px solid #ccc; border-radius: 4px; }
#contact button { padding: 0.75rem; border: none; border-radius: 4px; background: #7aa5d2; color: #fff; cursor: pointer; transition: background 0.3s; }
#contact button:hover { background: #6387aa; }

/* Resume Link */
.resume-btn { display: inline-block; margin-top: 1rem; padding: 0.75rem 1.5rem; background: #7aa5d2; color: #fff; border-radius: 4px; transition: background 0.3s; }
.resume-btn:hover { background: #6387aa; }

/* Responsive */
@media (max-width: 768px) {
  .nav-links { display: none; }
  .nav-toggle { display: block; cursor: pointer; }
}

/*Project Page*/
/* Grid */
.projects-grid { display: grid; grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); gap: 2rem; padding: 4rem 1rem; max-width: 1000px; margin: 0 auto; }
.card { background: #eeeeee; border-radius: 8px; overflow: hidden; box-shadow: 0 1px 3px #eeeeee; transition: transform 0.3s; }
.card:hover { transform: translateY(-5px); }
.card img { width: 100%; height: 150px; object-fit: cover; }
.card-content { padding: 1rem; }
.card-content h3 { margin-bottom: 0.5rem; color: #47555e }
.card-content p { font-size: 0.9rem; color: #47555e; margin-bottom: 1rem; }
.card-content a { font-weight: bold; color: #7aa5d2; }


/* COLORS */
/* .first-color { black
	background: #303841; 
}
	
.second-color { grey
	background: #47555e; 
}

.third-color { blue
	background: #7aa5d2; 
}

.fourth-color { white
	background: #eeeeee; 
} */